
<div class="cart">
  <span class="product-name"><strong>{{CartItem.productName}}</strong></span>
  <span class="product-total">${{getPrice()}}</span>
  <span class="product-image"><img src="{{CartItem.imageUrl}}" width="80" height="75" /></span>
  <form class="quantity-form">
    <span class="product-quantity">Quantity: {{CartItem.quantity}}</span>
    <span class="quantity-buttons">
      <input type="button" value="-" (click)="decrementQuantity(CartItem)" />
      <input type="button" value="x" (click)="deleteItem(CartItem.productId)" />
      <input type="button" value="+" (click)="incrementQuantity(CartItem)" />
    </span>
  </form>
</div>
